# Python
backend/__pycache__/
backend/app/__pycache__/
backend/app/raw_data/
backend/venv/
backend/.env
backend/proxies.txt  # Exclude your proxies file

# Node
frontend/node_modules/
frontend/.env
frontend/build/

# Logs
*.log

# VS Code
.vscode/

# macOS
.DS_Store

# Byte-compiled / optimized / DLL files
*.py[cod]
__pycache__/

# Test environments
.env

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Custom additions
athletes/
proxies.txt
start.bat